/* reset CSS */
* {
    padding: 0;
    margin: 0;
    /* border: 1px solid black; */
}

/* main style */

html {
    font-size: 5px;
}
body {
    font-family: 'Quicksand', sans-serif;
    overflow: hidden;
}
.top {
    width: 100%;
    height: 500px;
    /* background-color: rgb(162, 171, 255); */
    background-image: linear-gradient(to bottom right, rgb(135, 219, 102), rgba(175, 255, 192, 0.699));
}

.header {
    padding-top: 30px;
    padding-left: 60px;
    font-weight: bold;
    display: flex;
    align-items: center;
}

.header a:hover {
    color: rgb(255, 255, 255);
}

.header a {
    text-decoration: none;
    color: rgb(225, 255, 225);
}

.nav-main {
    flex: 60%;
}

.nav-main a{
    font-size: 5rem;
    font-family: 'Ubuntu', sans-serif;
}

.nav-expand {
    flex: 40%;
    font-size: 3rem;
}

.header ul {
    display: flex;
    list-style: none;
    justify-content: space-around;
}

.header .menu-toggle input {
    opacity: 0;
}

.container {
    margin: auto;
    margin-top: 80px;
    top: 300px;
    width: 70%;
    background-color: white;
    border-radius: 10px;
    box-shadow: 1px 2px 4px 8px rgba(7, 78, 19, 0.062);
    display: flex;
    box-sizing: border-box;
}

.photos {
    flex: 55%;
    padding: 15px;
}

.photos img {
    width: 100%;
    border-radius: 10px;
    background-size: cover;
}

.content {
    flex: 55%;
    /* background-color: pink; */
    padding: 30px;
    padding-top: 30px;
    line-height: 1.5;
    text-decoration: none;
    font-size: 14px;
    color: rgb(73, 73, 73);
}

.content .summ {
    text-align: justify;
}

.prof {
    margin-top: 10px;
    font-weight: bold;
}
.great, .prof, .summ {
    margin-bottom: 10px;
}

p.great {
    font-size: 2.2rem;
}

h1, .prof {
    line-height: 1.2;
    color: black;
}

.contact {
    display: flex;
}

.icon {
    flex: 9%;
    flex-direction: column;
}

.calendar, .phone, .email, .home {
    width: 20px;
    padding: 5px;
    margin-bottom: 6px;
    opacity: 0.7;
}

.contact {
    display: flex;
}

.icon-detail {
    flex: 91%;
    padding-top: 7px;
}

.icon-detail p {
    margin-bottom: 18px;
    font-size: 2.5rem;
}

.summ {
    font-size: 13px;
}
.sosmed {
    border-top: 2px solid rgb(230, 225, 225);
    padding-top: 6px;
}

.sosmed ul {
    display: flex;
    list-style: none;
    width: 38%;
    margin: auto;
    justify-content:  space-around; 
    padding: 10px 20px;
}

.ig, .fb, .wa {
    width: 28px;
    opacity: 0.6;
    padding: 1px 10px;
}

.ig:hover, .fb:hover, .wa:hover {
    opacity: 0.3;
}


@media (min-width: 800px) and (max-width: 1000px) {
    .nav-main {
        flex: 30%;
    }
    .mav-expand {
        flex: 70%;
    }
}

@media (max-width: 800px) {
    .container {
        flex-direction: column;
    }
    .photos img {
        display: block;
        text-align: center;
        margin: auto;
        margin-top: 15px;
    }
}

@media (min-width: 200px) and (max-width: 768px) {
    .top {
        height: 86px;
    }
    .container {
        width: 100%;
        border-radius: 0;
        margin-top: 25px;
        box-shadow: none;
    }

    .header {
        padding-left: 25px;
    }

    .header ul {
        position: absolute;
        flex-direction: column;
        background-image: linear-gradient(to bottom right, rgb(135, 219, 102), rgba(175, 255, 192, 0.699)); 
        top: 84px;
        right: 0;
        height: 100vh;
        width: 60%;
        align-items: center;
        justify-content: space-around;
        transform: translateX(100%);
        opacity: 1;
        transition: all 0.8s;
    }
    
    .icon {
        flex: 5%;
    }

    .icon-detail{
        flex: 95%;
        padding-left: 5px;
    }

    .nav-main {
        font-size: 4rem;
        flex: 85%;
    }

    .nav-expand {
        font-size: 3rem;
    }

    .menu-toggle {
        flex: 15%;
        display: flex;
        flex-direction: column;
        height: 20px; 
        justify-content: space-between;
        position: relative;
    }

    .menu-toggle span {
        background-color: rgb(225, 255, 225);;
        width: 30px;
        height: 3px;
        transition: all 0.4s;
    }

    .menu-toggle input {
        position: absolute;
        height: 28px;
        width: 40px;
        left: -5px;
        opacity: 0;
        z-index: 99;
    }

    .menu-toggle span:nth-child(2) {
        transform-origin: 0 0;
    }

    .menu-toggle span:nth-child(4) {
        transform-origin: 0 100%;
    }

    .menu-toggle input:checked ~ span:nth-child(2) {
        transform:rotate(45deg) translate(-1px, -2px);
    }

    .menu-toggle input:checked ~ span:nth-child(3) {
        transform:scale(0);
        opacity: 0;
    }

    .menu-toggle input:checked ~ span:nth-child(4) {
        transform:rotate(-45deg) translate(-1px, 1px); 
    }

    .header ul.slide {
        opacity: 1;
        transform: translateX(0);
    }

}

@media (min-width: 200px) and (max-width: 300px) {
    .sosmed ul {
        width: 50%;
    }
}

/* @media (max-width: 500px) {
    .nav {
        margin-left: -90px;
    }
} */
